*{
    margin: 0;
    background: rgb(221, 218, 218);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: black;
    padding: 2%;
}
li{
    background: black;
    justify-content: stretch;
    list-style-type: none;
}
a{
    display: inline-block;
    min-width: 5em;
    text-align: center;
    background: grey;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 11px;
    text-decoration: none;
    height: max-content;
}
a:hover{
    background: crimson;
}
.dropdown {
    display: none;
    position: fixed;
    border-radius: 11px;
}
.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
li:hover > ul.dropdown {
    display: block;
}


