footer{
    position: fixed;
    bottom: 0px;
    margin-left: 7px;
    color: crimson;
}
.container{
    margin: 7vh auto;
    padding: 21px;
    width: 40%;
    border-radius: 6px;
    box-shadow: 10px 10px 16px 0 black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
}
form{
    background: grey;
    text-align: center;
} 
label{
    display: inline-block;
    background: grey;
    padding: 10px;
}
input{
    background: rgb(221, 218, 218);
}
textarea{
    margin: 10px;
    background: rgb(221, 218, 218);
}
.link{
    display: inline-block;
    width: 5em;
    text-align: center;
    background: black;
    color: rgb(221, 218, 218);    
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 11px;
    text-decoration: none;
}
.link:hover{
    background: crimson;
    color: black;
}
.thanks{
    color: crimson;
    background: grey;
}

